{% extends "base.html" %}



{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h4 class="page-header help-block">操作帮助和步骤说明</h4>
                <div class="panel-group">
                      <div class="panel panel-primary">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <div class="panel-title">
                                  1，操作之前获取主机时间
                                </div>
                            </div>
                          <div class="panel-body">
                              <div class="list-group">
                                  <div class="list-group-item">
                                      <img src="/static/img/action1.png" class="img-responsive">
                                  </div>
                                  <div class="list-group-item">
                                      <img src="/static/img/action2.png" class="img-responsive">
                                  </div>
                              </div>
                           </div>
                      </div>
                      <div class="panel panel-primary">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <div class="panel-title">
                                  2，输入时间执行修改环境时间
                                </div>
                            </div>
                          <div class="panel-body">
                              <div class="list-group">
                                  <div class="list-group-item">
                                      <img src="/static/img/action3.png" class="img-responsive">
                                  </div>
                                  <div class="list-group-item">
                                      <img src="/static/img/action8.png" class="img-responsive">
                                  </div>
                              </div>
                           </div>
                      </div>
                      <div class="panel panel-primary">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <div class="panel-title">
                                  3，执行修改环境后返回首页查询
                                </div>
                            </div>
                          <div class="panel-body">
                              <div class="list-group">
                                  <div class="list-group-item">
                                      <img src="/static/img/action4.png" class="img-responsive">
                                  </div>
                                  <div class="list-group-item">
                                      <img src="/static/img/action5.png" class="img-responsive">
                                  </div>
                                  <div class="list-group-item">
                                      <img src="/static/img/action6.png" class="img-responsive">
                                  </div>
                              </div>
                           </div>
                      </div>
                      <div class="panel panel-primary">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <div class="panel-title">
                                  4，环境内的服务启动
                                </div>
                            </div>
                          <div class="panel-body">
                              <div class="list-group">
                                  <div class="list-group-item">
                                      <img src="/static/img/action9.png" class="img-responsive">
                                  </div>
                                  <div class="list-group-item">
                                      <img src="/static/img/action10.png" class="img-responsive">
                                  </div>
                                  <div class="list-group-item">
                                      <img src="/static/img/action11.png" class="img-responsive">
                                  </div>
                                  <div class="list-group-item">
                                      <img src="/static/img/action12.png" class="img-responsive">
                                  </div>
                                  <div class="list-group-item">
                                      <img src="/static/img/action13.png" class="img-responsive">
                                  </div>
                                  <div class="list-group-item">
                                      <img src="/static/img/action14.png" class="img-responsive">
                                  </div>
                                  <div class="list-group-item">
                                      <img src="/static/img/action15.png" class="img-responsive">
                                  </div>
                                  <div class="list-group-item">
                                      <img src="/static/img/action16.png" class="img-responsive">
                                  </div>
                                  <div class="list-group-item">
                                      <img src="/static/img/action17.png" class="img-responsive">
                                  </div>
                                  <div class="list-group-item">
                                      <img src="/static/img/action18.png" class="img-responsive">
                                  </div>
                                  <div class="list-group-item">
                                      <img src="/static/img/action19.png" class="img-responsive">
                                  </div>
                              </div>
                           </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}